ul {
    padding:0;
    list-style:none;
    width: 30%;
    margin:auto;
  }
  
  tr{
    font-size:1.2rem;
    line-height: 2rem;
    border-bottom: 1px dotted #777;
    flex-direction: row;
    text-align: center;
  }

  .buttons{
    display: flex;
  }